.social-icon{
      background-color: rgb(21, 115, 215);
      height: 1px;
      width: 100%;
      margin-top: 13px;
}
.social{
      display: flex;
      justify-content: center;
}
.social p{
      color: black;
      margin: 0px 15px;
      font-size: 18px;
}

.socials{
      display: flex;
      justify-content: center;
}
.google , .facebook , .github{
      font-size: 35px;
      margin: 0px 10px;
}