
.agrre-btn{
      background-color: rgb(7, 195, 247);
      color: aliceblue ;
      
      border-radius: 10px;
      padding: 7px 25px;
      border: 1px solid rgb(230, 240, 242);
      font-weight: 600;
}

.primary-btn{
      /* background-color: rgb(66, 219, 39); */
      background-color: rgb(39, 180, 219);
      color: aliceblue ;
      
      border-radius: 10px;
      padding: 7px 25px;
      border: 1px solid rgb(230, 240, 242);
      font-weight: 600;
}
