.my-image img{
      width: 350px;
     padding: 10px;
      
      border-radius: 15px;
}
.my-image{
      display: flex;
      align-items: center;
      justify-content: center;
}
.my-goal{
      padding: 10px;
      display: flex;
      align-items: center;
}
.my-goal span {
      font-size: 25px;
      line-height: 44px;
      
}